body {
    margin: 0;
    color: black
}

.navbar {
    background-color: black;
    padding: 10px;
    height: 60px;
  
}

.navbar-link {
    color:rgb(228, 173, 90);
    text-decoration: none;  /* Underline disable */
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
     
}

.hero {
    height: 500px;
    background: darkslateblue;
    background: url(https://source.unsplash.com/1366x768/?event) no-repeat center;
    color:white ;
    text-align: center;
}