body {
    margin: 0;
    color: black
}

.navbar {
    background-color: darkslategray;
    padding: 10px;
    height: 50px;
  
}

.nav-img {
    margin-top: -15px;
}

.navbar-link {
    color:rgb(228, 173, 90);
    text-decoration: none;  /* Underline disable */
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
     
}

.hero {
    height: 500px;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    background: url(https://source.unsplash.com/1366x768/?event) no-repeat center;
    color:white ;
    text-align: center;
    padding: 20px 0;
}

.row {
    display: inline-block;
}

.article {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 5px;
    width: 33%;
}

.article-image{
    max-width: 100%;
}

.article-tag {
    background-color:darkcyan;
    border-radius: 5px;
    padding: 10px;
    color: cornsilk;

}
